/*header装飾*/
header {
  height: 80px;
  background-color: rgb(207, 177, 120);
}
.top {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-top {
  font-size: 40px;
  padding: 15px 100px;
  margin: auto;
}
.main-title {
  color: black;
  text-decoration: none;
}
.ul-top {
  font-size: 20px;
  color: blue;
  display: flex;
  margin: auto;
}
.li-top {
  margin: 12px;
  padding: 15px 50px;
}
.user-link {
  text-decoration: none;
}

/*footer装飾*/
footer {
  height: 80px;
  background-color: lightgrey;
}
.bottom{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inquiry-bottom {
  font-size: 15px;
  margin-bottom: 5px;
}
.sns-bottom {
  font-size: 15px;
}

/*トップページ装飾*/
.x-main {
  background-color: rgba(250, 244, 220, 0.692);
  display: flex;
}
.list-main {
  font-size: 15px;
  background-color: rgb(172, 165, 165);
  width: 20%;
  padding: 20px 3%;
}
.page-main {
  padding: 20px 10%;
  font-size: 20px;
}
.manager-main {
  display: flex;
}
img.manager-image{
  height: 100%;
  width: 25%;
}
.user-name {
  font-size: 17px;
  margin-bottom: 30px;
}
.li-main {
  font-size: 20px;
  margin-bottom: 20px;
}
.language-link {
  text-decoration: none;
}
.main-items {
  margin-top: 15px;
}
.newlist {
  padding-top: 20px;
}
.new-items{
  display: flex;
  margin: 20px;
}
.new-count {
  margin-bottom: 20px;
}
.new-item{
  margin-left: 20px;
}

/*ruby用ビュー*/
.ruby {
  background-color: rgba(250, 244, 220, 0.692);
  display: flex;
}
.ruby-form {
  font-size: 15px;
  background-color: rgb(172, 165, 165);
  width: 20%;
  padding: 20px 3%;
}
.ruby-list{
  width: calc(100vw - 20%);
}

/*投稿用共通フォーム*/
.ruby-list{
  padding: 20px 10%;
  font-size: 20px;
}
.code-form {
  margin: 15px 5px;
}
.how-form {
  margin: 15px 5px;
}
.explanation-form {
  margin: 15px 5px;
}
input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 16px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;

}
textarea {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 16px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

/*共通投稿内容一覧*/
.code-items {
  display: flex;
  margin: 15px 0;
}
.code {
  width: 10%;
  margin: 0 10px;
}
.how {
  width: 50%;
  margin: 0 10px;
}