/*header装飾*/
header {
  height: 80px;
  background-color: rgb(238, 198, 123);
}
.top {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-top {
  font-size: 40px;
  padding: 15px 100px;
  margin: auto;
}
.ul-top {
  font-size: 20px;
  color: blue;
  display: flex;
  margin: auto;
}
.li-top {
  margin: 12px;
  padding: 15px 50px;
}
.user-link {
  text-decoration: none;
}

/*footer装飾*/
footer {
  height: 80px;
  background-color: lightgrey;
}
.bottom{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inquiry-bottom {
  font-size: 15px;
  margin-bottom: 5px;
}
.sns-bottom {
  font-size: 15px;
}

/*トップページ装飾*/
.x-main {
  background-color: rgba(253, 209, 15, 0.692);
  display: flex;
}
.list-main {
  font-size: 15px;
  background-color: rgb(172, 165, 165);
  width: 20%;
  padding: 20px 3%;
}
.page-main {
  padding: 20px 10%;
  font-size: 20px;
}
.manager-main {
  display: flex;
}
img.manager-image{
  height: 100%;
  width: 25%;
}
.user-name {
  font-size: 17px;
  margin-bottom: 30px;
}
.li-main {
  font-size: 20px;
  margin-bottom: 20px;
}
.language-link {
  text-decoration: none;
}
.main-items {
  margin-top: 15px;
}
.newlist {
  padding-top: 20px;
}
.new-items{
  display: flex;
  margin: 20px;
}
.new-count {
  margin-bottom: 20px;
}
.new-item{
  margin-left: 20px;
}